body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.imagen-container {
    text-align: center;
    margin: 20px 0;
}

.imagen-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.referencia {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.referencia img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}